$color-primary-1: #DCE123;
$color-primary-2: #A8AA2A;
$color-primary-3: #C2C52E;
$color-primary-4: #F4F750;

$color-secondary-1: #FFFFFF;
$color-secondary-2: #929C9F;
$color-secondary-3: #F1F5FA;
$color-secondary-4: #F8FAFC;

$color-tertiary-1: #212628;
$color-tertiary-2: #161A1B;
$color-tertiary-3: #4B5153;

$color-quaternary-1: #F8F8E7;
$color-quaternary-2: #CECEC2;
$color-quaternary-3: #E8E8C0;

$color-deposit-1: #7196DA;
$color-deposit-2: #658ACF;
$color-deposit-3: #557DC8;

$color-credit-1: #FC5A61;
$color-credit-2: #ED4B52;
$color-credit-3: #DC333A;

$color-branch-1: #6DBDDE;
$color-branch-2: #42A7D1;
$color-branch-3: #218DB9;

$color-card-1: #6CC195;
$color-card-2: #61BA8C;
$color-card-3: #429D6D;

$color-pay-1: #F89D7D;
$color-pay-2: #F79273;
$color-pay-3: #EE7B58;
