@font-face {
  font-family: 'FuturaPT';
  font-weight: bold;
  src: url('../fonts/FuturaPTBold.otf');
}

@font-face {
  font-family: 'FuturaPT';
  font-weight: 600;
  src: url('../fonts/FuturaPTDemi.otf');
}
